<a href="https://colab.research.google.com/github/noernimat/machinehackathon/blob/main/predict_book_price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pip list

In [2]:
import pandas as pd
import numpy as np

In [3]:
data_train = pd.read_excel('/content/Data_Train.xlsx')
data_train

                                                  Title  ...   Price
0                   The Prisoner's Gold (The Hunters 3)  ...  220.00
1                    Guru Dutt: A Tragedy in Three Acts  ...  202.93
2                          Leviathan (Penguin Classics)  ...  299.00
3                    A Pocket Full of Rye (Miss Marple)  ...  180.00
4            LIFE 70 Years of Extraordinary Photography  ...  965.62
...                                                 ...  ...     ...
6232  Humans: A Brief History of How We F*cked It Al...  ...  322.00
6233                                        The Chemist  ...  421.00
6234  The Duke And I: Number 1 in series (Bridgerton...  ...  399.00
6235                       Frostfire (Kanin Chronicles)  ...  319.00
6236                        The First Order (Sam Capra)  ...  452.00

[6237 rows x 9 columns]

In [4]:
data_test = pd.read_excel('/content/Data_Test.xlsx')
data_test

                                                  Title  ...                          BookCategory
0            The Complete Sherlock Holmes: 2 Boxes sets  ...             Crime, Thriller & Mystery
1     Learn Docker - Fundamentals of Docker 18.x: Ev...  ...   Computing, Internet & Digital Media
2                                              Big Girl  ...                               Romance
3     Think Python: How to Think Like a Computer Sci...  ...   Computing, Internet & Digital Media
4     Oxford Word Skills: Advanced - Idioms & Phrasa...  ...       Language, Linguistics & Writing
...                                                 ...  ...                                   ...
1555  100 Things Every Designer Needs to Know About ...  ...   Computing, Internet & Digital Media
1556  Modern Letter Writing Course: Personal, Busine...  ...  Biographies, Diaries & True Accounts
1557                      The Kite Runner Graphic Novel  ...                                Humour
1558    Panzer Leader (Penguin World War II Collection)  ...  Biographies, Diaries & True Accounts
1559                      Complete Spanish Step-by-Step  ...       Language, Linguistics & Writing

[1560 rows x 8 columns]

In [5]:
data_test.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
dtype: int64

In [6]:
data_train.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [7]:
data_train.describe()

              Price
count   6237.000000
mean     560.707516
std      690.110657
min       25.000000
25%      249.180000
50%      373.000000
75%      599.000000
max    14100.000000

In [8]:
data_test.describe()

                                                    Title  ...        BookCategory
count                                                1560  ...                1560
unique                                               1521  ...                  11
top     Doing Justice: A Prosecutor’s Thoughts on Crim...  ...  Action & Adventure
freq                                                    3  ...                 218

[4 rows x 8 columns]